# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda
env/
*.conda
*.env

# Logs
*.log

# Results
results/
translation/saves/

# Data
data/wave_files
data/transcribe/



# Checkpoints
*.bin
*.pt
*.ckpt
*.safetensors

# Wandb
wandb/

# System
.DS_Store